In [1]:
import pandas as pd
import boto3
import json

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_ENDPOINT               = 'projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com'

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
               })

                    Param           Value
0        DWH_CLUSTER_TYPE      multi-node
1           DWH_NUM_NODES               4
2           DWH_NODE_TYPE       dc2.large
3  DWH_CLUSTER_IDENTIFIER  projectCluster
4                  DWH_DB        sparkify
5             DWH_DB_USER    sparkifyuser
6         DWH_DB_PASSWORD       Sparkify1
7                DWH_PORT            5439
8       DWH_IAM_ROLE_NAME    sparkifyrole

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://sparkifyuser:Sparkify1@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: sparkifyuser@sparkify'

In [5]:
%sql SELECT user_id, song_id FROM songplay_table WHERE song_id NOT IN ('None') ORDER BY user_id, song_id LIMIT 10;

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(2, 'SOSMXVH12A58A7CA6C'),
 (2, 'SOTJEIC12A8C139054'),
 (6, 'SOBONKR12A58A7A7E0'),
 (8, 'SOEIQUY12AF72A086A'),
 (8, 'SOWEUOO12A6D4F6D0C'),
 (10, 'SOHTKMO12AB01843B0'),
 (12, 'SOARUPP12AB01842E0'),
 (12, 'SOBJDDA12A6BD53159'),
 (15, 'SOBONKR12A58A7A7E0'),
 (15, 'SOBONKR12A58A7A7E0')]

In [6]:
%sql SELECT count(user_table.user_id), user_table.level, user_table.gender FROM user_table GROUP BY user_table.level, user_table.gender

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
4 rows affected.

[(45, 'free', 'F'), (7, 'paid', 'M'), (37, 'free', 'M'), (15, 'paid', 'F')]

In [7]:
%sql SELECT * FROM user_table ORDER BY user_id LIMIT 5 ;

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [8]:
%sql SELECT * FROM song_table LIMIT 5;

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[('SOQYORG12AC3DF81B4', 'Rainbow Yoshi', 'ARP7AEC1187B98B4B2', 2008, Decimal('148')),
 ('SOZCRVP12A81C21F40', 'Welcome To The Dollhouse [Featuring P. Diddy] (Album Version)', 'AR4503S1187FB43199', 2008, Decimal('46')),
 ('SOLXZQS12A58A790DA', 'Far Away', 'ARST42X1187B9B4AE0', 2003, Decimal('305')),
 ('SOOTNYO12AB017D3A2', "I Won't Be Your Yoko Ono Intro", 'ART0ATJ1187FB531D2', 2001, Decimal('133')),
 ('SOUHORN12AF72A2DB1', 'Blessed Be Your Name (Low Key-Premiere Performance Plus)', 'ARWKO2O1187B9B5FA7', 0, Decimal('239'))]

In [12]:
%sql SELECT * FROM artist_table LIMIT 5;

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[('ARCWXBS1187B990E1E', 'Titãs', '', None, None),
 ('ARQF3AW1187FB54BF1', 'Sound Dimension', '', None, None),
 ('AR6PFD411C8A416424', 'Passion Pit', 'Laval Quebec Canada', None, None),
 ('AR3LDT01187B9901A8', 'The Robustos', '', None, None),
 ('ARE6O2O1187B9A779F', 'Screen', 'NY - New York City', Decimal('40'), Decimal('-74'))]

In [13]:
%%sql
SELECT u.user_id, u.first_name, u.gender, s.title, s.song_id
FROM user_table u
JOIN songplay_table sp ON sp.user_id = u.user_id
JOIN song_table s ON s.song_id = sp.song_id
order by user_id, song_id
LIMIT 10;

 * postgresql://sparkifyuser:***@projectcluster.cg3xfppgta4r.us-west-2.redshift.amazonaws.com:5439/sparkify
10 rows affected.

[(2, 'Jizelle', 'F', 'Pienso En Ti', 'SOSMXVH12A58A7CA6C'),
 (2, 'Jizelle', 'F', 'Macarena', 'SOTJEIC12A8C139054'),
 (6, 'Cecilia', 'F', "You're The One", 'SOBONKR12A58A7A7E0'),
 (8, 'Kaylee', 'F', 'Eriatarka', 'SOEIQUY12AF72A086A'),
 (8, 'Kaylee', 'F', 'Given Up (Album Version)', 'SOWEUOO12A6D4F6D0C'),
 (10, 'Sylvie', 'F', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'SOHTKMO12AB01843B0'),
 (12, 'Austin', 'M', 'Up Up & Away', 'SOARUPP12AB01842E0'),
 (12, 'Austin', 'M', 'Long Black Road', 'SOBJDDA12A6BD53159'),
 (15, 'Lily', 'F', "You're The One", 'SOBONKR12A58A7A7E0'),
 (15, 'Lily', 'F', "You're The One", 'SOBONKR12A58A7A7E0')]